In [58]:
import pandas as pd

# Carga de Datos

In [59]:
df_genero = pd.read_csv('DataImpares/genero.csv')
df_multimedia = pd.read_csv('DataImpares/multimedia.csv')
df_pago = pd.read_csv('DataImpares/pago.csv')
df_proveedores = pd.read_csv('DataImpares/proveedores.csv')
df_suscripciones = pd.read_csv('DataImpares/suscripciones.csv')
df_usuarios = pd.read_csv('DataImpares/usuarios.csv')
df_visualizaciones = pd.read_csv('DataImpares/visualizaciones.csv')

## Genero

In [60]:
#df_genero = df_genero.replace({'√≥': 'ó', "√≠": 'í', '√∫': "ú", '√â': 'É'}, regex=True)
df_genero

              genero                nombre_subgenero
0            Acci√≥n                             NaN
1         Animaci√≥n                             NaN
2           Aventura                             NaN
3         Biograf√≠a                             NaN
4               Punk                         Biopunk
5   Ciencia ficci√≥n  Ciencia ficci√≥n apocal√≠ptica
6   Ciencia ficci√≥n                         Biopunk
7   Ciencia ficci√≥n              Romance Planetario
8   Ciencia ficci√≥n                             NaN
9            Comedia                             NaN
10            Crimen                             NaN
11         Cyberpunk                             NaN
12           Deporte                             NaN
13             Drama                             NaN
14          Familiar                             NaN
15         Fantas√≠a                Fantas√≠a oscura
16            Guerra                             NaN
17        Hist√≥rico                             NaN
18            Horror                             NaN
19           M√∫sica                             NaN
20          Misterio                             NaN
21           Romance                             NaN
22           Slasher                             NaN
23          Thriller            Thriller sicol√≥gico

## Multimedia

In [61]:
#df_multimedia.rename(columns={'a√±o': 'año'}, inplace=True)
df_multimedia

,pid,sid,cid,titulo,duracion,clasificacion,puntuacion,a√±o,numero,serie,genero
0,1.0,NaN,NaN,Return to Babylon,75,G,7.1,2013,NaN,NaN,Drama
1,1.0,NaN,NaN,Return to Babylon,75,G,7.1,2013,NaN,NaN,Comedia
2,1.0,NaN,NaN,Return to Babylon,75,G,7.1,2013,NaN,NaN,Biograf√≠a
3,2.0,NaN,NaN,Life's a Beach,100,PG-13,9.0,2012,NaN,NaN,Comedia
4,3.0,NaN,NaN,'77,113,G,2.1,2017,NaN,NaN,Drama
...,...,...,...,...,...,...,...,...,...,...,...
691,NaN,3.0,31.0,Dio: el invasor,23,PG,10.0,2012,1.0,Jojo's Bizarre Adventure,Acci√≥n
692,NaN,4.0,56.0,Viento,20,PG-13,9.8,2007,3.0,Naruto Shippuden,Acci√≥n
693,NaN,23.0,132.0,Pilot,22,PG,8.3,2013,1.0,Rick y Morty,Acci√≥n
694,NaN,23.0,134.0,The Rickshank Rickdemption,22,PG,8.3,2013,3.0,Rick y Morty,Acci√≥n
695,NaN,23.0,133.0,A Rickle in Time,22,PG,8.3,2013,2.0,Rick y Morty,Acci√≥n

## Pago

In [62]:
df_pago

      pago_id  monto       fecha  uid  subs_id   pid  pro_id
0        6368   7000    8/6/2021   29      1.0   NaN     NaN
1        6369   7000    8/7/2021   29      1.0   NaN     NaN
2        6370   7000    8/8/2021   29      1.0   NaN     NaN
3        6371   7000    8/9/2023   29      1.0   NaN     NaN
4        6376   6500   27/9/2020   48      2.0   NaN     NaN
...       ...    ...         ...  ...      ...   ...     ...
4372    10511   8500  27/12/2021   55      NaN  78.0    11.0
4373    10401   3000  29/12/2021   45      NaN  68.0    19.0
4374    10682   3000  30/12/2021  130      NaN  88.0     5.0
4375    10376   4500  30/12/2021   48      NaN  73.0    13.0
4376    10415   3000  30/12/2021   82      NaN  38.0    18.0

[4377 rows x 7 columns]

## Proveedores

In [63]:
df_proveedores

      id       nombre  costo   sid   pid  precio  disponibilidad
0      7        Star+   7100  10.0   NaN     NaN             NaN
1     11      Peackok   4000   NaN  47.0     NaN             NaN
2     20      DCCanal   4000   NaN  67.0     NaN             NaN
3      9     Showtime   3200   5.0   NaN     NaN             NaN
4     11      Peackok   4000   NaN  68.0     NaN             NaN
...   ..          ...    ...   ...   ...     ...             ...
1125   3  Crunchyroll   4400   NaN   1.0     NaN             NaN
1126   3  Crunchyroll   4400   NaN  30.0     NaN             NaN
1127   3  Crunchyroll   4400  28.0   NaN     NaN             NaN
1128  16   Rakuten TV   6500   NaN  28.0     NaN             NaN
1129   9     Showtime   3200   NaN  96.0     NaN             NaN

[1130 rows x 7 columns]

## Suscripciones

In [64]:
df_suscripciones

,id,estado,fecha_inicio,pro_id,uid,fecha_termino,proveedor,costo
0,377,activa,12/12/2020,13,1,12/12/2023,Sony Liv,3100
1,382,cancelada,13/11/2021,12,1,24/11/2023,Viu,5000
2,381,cancelada,5/8/2020,8,1,26/11/2020,Hulu,7000
3,378,activa,11/10/2021,7,1,11/12/2023,Star+,7100
4,379,cancelada,16/6/2021,14,1,19/11/2023,Movistar+ Lite,7400
...,...,...,...,...,...,...,...,...
414,384,activa,9/9/2020,14,142,9/12/2023,Movistar+ Lite,7400
415,387,activa,8/9/2021,10,142,8/12/2023,Stan,7900
416,24,cancelada,6/5/2021,9,146,10/11/2023,Showtime,3200
417,26,activa,22/5/2020,16,146,22/12/2023,Rakuten TV,6500
418,25,activa,28/12/2020,8,146,28/12/2023,Hulu,7000

## Usuarios

In [65]:
df_usuarios

,id,nombre,mail,password,username,fecha_nacimiento
0,87,Melissa Rodriguez,mrodriguez@yahoo.com,mVqchhZq,mrodriguez1969,01/01/1927
1,134,Joseph Harrison,jharrison@yahoo.es,ZCtisRw5,jharrison1997,28/09/1947
2,38,Amy Allen,aallen@yahoo.es,JOiUve4K,aallen1997,23/03/1995
3,48,Alan Burton,aburton@yahoo.com,fBqBdTWB,aburton1966,07/12/2004
4,66,Christopher Blake,cblake@icloud.com,kI2Lt7sy,cblake1972,11/10/1981
...,...,...,...,...,...,...
95,58,Laura Wagner,lwagner@yahoo.it,9VbX2Dl9,lwagner1960,25/03/1931
96,31,Janice Gould,jgould@yahoo.com,oP9BYtZy,jgould2000,12/10/1945
97,43,Dennis Patterson PhD,dpatterson@yahoo.com,qdU6z9YI,dpatterson1992,23/04/1998
98,93,Joanna Brewer,jbrewer@gmail.com,InlgLdUD,jbrewer1984,07/09/2004
99,70,Jason Brown,jbrown@icloud.com,wwa12glM,jbrown1985,19/01/1971

## Visualizaciones

In [66]:
df_visualizaciones

      uid   pid    cid       fecha
0     141   NaN   85.0  05/06/2020
1     141   NaN   34.0  05-21-2020
2      45  72.0    NaN  05-30-2020
3       9   NaN  137.0  05-31-2020
4      45  68.0    NaN  05-31-2020
...   ...   ...    ...         ...
2699   22   NaN  139.0  09-21-2020
2700  119   NaN   71.0  11/01/2020
2701   22   NaN  138.0  09-21-2020
2702   49   NaN   71.0  06-30-2021
2703   73   NaN   70.0  02/07/2021

[2704 rows x 4 columns]

---

# Separación de Datos y Limpieza

## Genero ✅

In [67]:
tabla_genero = df_genero[df_genero['nombre_subgenero'].isna()] 
tabla_sub_genero = df_genero.dropna()
tabla_genero.drop(columns=['nombre_subgenero'], inplace=True)
tabla_genero #PK: genero

C:\Users\benja\AppData\Local\Temp\ipykernel_14564\2764136223.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabla_genero.drop(columns=['nombre_subgenero'], inplace=True)

              genero
0            Acci√≥n
1         Animaci√≥n
2           Aventura
3         Biograf√≠a
8   Ciencia ficci√≥n
9            Comedia
10            Crimen
11         Cyberpunk
12           Deporte
13             Drama
14          Familiar
16            Guerra
17        Hist√≥rico
18            Horror
19           M√∫sica
20          Misterio
21           Romance
22           Slasher

## Subgenero ✅

In [68]:
tabla_sub_genero.rename(columns={'nombre_subgenero':'subgenero'}, inplace=True)
tabla_sub_genero = tabla_sub_genero[['subgenero', 'genero']]
tabla_sub_genero #PK: subgenero

C:\Users\benja\AppData\Local\Temp\ipykernel_14564\1623783670.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabla_sub_genero.rename(columns={'nombre_subgenero':'subgenero'}, inplace=True)

                         subgenero            genero
4                          Biopunk              Punk
5   Ciencia ficci√≥n apocal√≠ptica  Ciencia ficci√≥n
6                          Biopunk  Ciencia ficci√≥n
7               Romance Planetario  Ciencia ficci√≥n
15                Fantas√≠a oscura         Fantas√≠a
23            Thriller sicol√≥gico          Thriller

## Multimedia (Pelis)

In [69]:
# Limpiamos el dataframe de multimedia para que solo contenga películas
pelis_multi = df_multimedia[df_multimedia['pid'].notnull()]
pelis_multi = pelis_multi.drop(columns=['sid', 'cid', 'numero', 'serie'])
tabla_peliculas = pelis_multi[['pid', 'titulo', 'duracion', 'clasificacion', 'puntuacion', "a√±o", "genero"]]
tabla_peliculas["pid"] = tabla_peliculas["pid"].astype(int)
tabla_peliculas.drop_duplicates(subset ="pid", keep = 'first', inplace = True)
tabla_peliculas #PK: pid

,pid,titulo,duracion,clasificacion,puntuacion,a√±o,genero
0,1,Return to Babylon,75,G,7.1,2013,Drama
3,2,Life's a Beach,100,PG-13,9.0,2012,Comedia
4,3,'77,113,G,2.1,2017,Drama
6,4,In My Sleep,104,PG,1.6,2010,Thriller sicol√≥gico
10,5,The Evil Within,98,PG-13,4.6,2017,Horror
...,...,...,...,...,...,...,...
234,97,Waking Madison,89,G,5.2,2010,Drama
235,98,The Babymakers,95,NC-17,6.6,2012,Comedia
236,99,Electric Slide,95,PG,6.7,2014,Crimen
239,100,Krystal,90,PG-13,2.0,2017,Drama
241,101,Scream,111,NC-17,7.0,1996,Slasher

## Multimedia (Series)

In [70]:
# Sacamos todas las películas que hay dentro de df_multimedia
series_multi = df_multimedia[df_multimedia['pid'].isnull()]
series_multi = series_multi.drop(['pid'], axis=1)
tabla_series = series_multi[['sid', 'serie', 'clasificacion', 'puntuacion', "a√±o"]] #PK: sid
tabla_series["sid"] = tabla_series["sid"].astype(int)
tabla_series.drop_duplicates(subset ="sid", keep = 'first', inplace = True)
tabla_series #PK: sid

C:\Users\benja\AppData\Local\Temp\ipykernel_14564\3946774688.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabla_series["sid"] = tabla_series["sid"].astype(int)
C:\Users\benja\AppData\Local\Temp\ipykernel_14564\3946774688.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabla_series.drop_duplicates(subset ="sid", keep = 'first', inplace = True)

     sid                             serie clasificacion  puntuacion  a√±o
243   11                    13 reasons why             R         8.3  2017
246    8                            √âlite             R         5.8  2018
247    7                  La Casa de Papel         PG-13         8.0  2017
249    5                              Dark         PG-13         9.9  2017
252   22                    Peaky Blinders            PG         8.6  2013
254   27               The Vampire Diaries         PG-13         9.2  2009
259   29                          Sherlock         PG-13         9.2  2010
270   31                            Scream         NC-17         7.4  2015
272    1                     Sex Education             R         8.0  2019
273    2                           Friends            PG         9.5  1994
281   18                  Hora de aventura             G         9.4  2010
287   28                       Gossip Girl         PG-13         8.0  2007
313   19                      Supernatural         PG-13         8.5  2005
317   13                         Riverdale         PG-13         4.3  2017
333    9                         The Crown         PG-13         9.5  2016
339   24              Ataque a los titanes         PG-13         9.8  2010
342    3          Jojo's Bizarre Adventure            PG        10.0  2012
346   14                   Hunter x Hunter             G         7.5  2011
348   25  Full Metal Alchemist Brotherhood            PG         8.6  2003
368    6                        31 minutos             G        10.0  2003
370   26        Avatar: la leyenda de Aang             G         7.9  2005
387    4                  Naruto Shippuden         PG-13         9.8  2007
391   20                         Supergirl             G         6.4  2015
394   10                  My Hero Academia             G         8.6  2015
399   15                          Atypical         PG-13         9.2  2017
404   16                         Dr. House             R         9.3  2004
405   30                        Doctor Who             G         9.0  2005
409   17                    Grey's Anatomy             R         8.7  2005
463   12                         Haikyuu!!             G        10.0  2014
494   21                      Los Simpsons         PG-13         9.1  1989
693   23                      Rick y Morty            PG         8.3  2013

## Multimedia (Capitulos)

In [71]:
tabla_capitulos = series_multi[["sid", "cid", "titulo", "duracion", "numero"]]
tabla_capitulos["numero"] = tabla_capitulos["numero"].astype(int)
tabla_capitulos["sid"] = tabla_capitulos["sid"].astype(int)
tabla_capitulos["cid"] = tabla_capitulos["cid"].astype(int)
tabla_capitulos.drop_duplicates(subset ="cid", keep = 'first', inplace = True)
tabla_capitulos #PK: cid

C:\Users\benja\AppData\Local\Temp\ipykernel_14564\2115653308.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabla_capitulos["numero"] = tabla_capitulos["numero"].astype(int)
C:\Users\benja\AppData\Local\Temp\ipykernel_14564\2115653308.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabla_capitulos["sid"] = tabla_capitulos["sid"].astype(int)
C:\Users\benja\AppData\Local\Temp\ipykernel_14564\2115653308.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabla_capitulos["cid"] = tabla_capitulos["cid"].astype(int)
C:\Users\benja\AppData\Local\Temp\ipykernel_14564\2115653308.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabla_capitulos.drop_duplicates(subset ="cid", keep = 'first', inplace = True)

     sid  cid                      titulo  duracion  numero
243   11   97         La primera polaroid        62       2
244   11   96            Casete 1: lado A        60       1
245   11   98      Si: soy la chica nueva        56       3
246    8   89                       Carla        58       3
247    7   86                Hemos vuelto        50       3
..   ...  ...                         ...       ...     ...
540   21  127            Bart Gets an "F"        20       2
553   21  128            Stark Raving Dad        20       3
693   23  132                       Pilot        22       1
694   23  134  The Rickshank Rickdemption        22       3
695   23  133            A Rickle in Time        22       2

[157 rows x 5 columns]

### Genero Capitulos

In [72]:
tabla_genero_cap = series_multi[['cid', "genero"]] #PK: cid
tabla_genero_cap["cid"] = tabla_genero_cap["cid"].astype(int)
tabla_genero_cap.drop_duplicates(keep = 'first', inplace = True)
tabla_genero_cap #PK: cid

C:\Users\benja\AppData\Local\Temp\ipykernel_14564\1266493826.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabla_genero_cap["cid"] = tabla_genero_cap["cid"].astype(int)
C:\Users\benja\AppData\Local\Temp\ipykernel_14564\1266493826.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabla_genero_cap.drop_duplicates(keep = 'first', inplace = True)

     cid                genero
243   97  Thriller sicol√≥gico
244   96  Thriller sicol√≥gico
245   98  Thriller sicol√≥gico
246   89              Thriller
247   86              Thriller
..   ...                   ...
691   31               Acci√≥n
692   56               Acci√≥n
693  132               Acci√≥n
694  134               Acci√≥n
695  133               Acci√≥n

[450 rows x 2 columns]

## Pago (Subscripciones)

In [73]:
pago_sub = df_pago[df_pago['pid'].isna()]
pago_sub = pago_sub.drop(columns=['pid', 'pro_id'])
pago_sub["subs_id"] = pago_sub["subs_id"].astype(int)
tabla_pago_sub = pago_sub[['subs_id', 'monto', 'uid']]
tabla_pago_sub.drop_duplicates(subset ="subs_id", keep = 'first', inplace = True)
tabla_pago_sub #PK: subs_id

C:\Users\benja\AppData\Local\Temp\ipykernel_14564\3994801561.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabla_pago_sub.drop_duplicates(subset ="subs_id", keep = 'first', inplace = True)

      subs_id  monto  uid
0           1   7000   29
4           2   6500   48
20          3   4000   48
36          4   3200   48
45          5   3100   48
...       ...    ...  ...
3926      415   4000    6
3945      416   3200    6
3964      417   4400   90
3981      418   7000   90
3983      419   2800   90

[419 rows x 3 columns]

### Detalle de Pago (Subscripciones)

In [74]:
tabla_detalle_sub = pago_sub[['pago_id', 'fecha', 'subs_id']]
tabla_detalle_sub.drop_duplicates(subset ="pago_id", keep = 'first', inplace = True)
tabla_detalle_sub #PK: pago_id

C:\Users\benja\AppData\Local\Temp\ipykernel_14564\1905291405.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabla_detalle_sub.drop_duplicates(subset ="pago_id", keep = 'first', inplace = True)

      pago_id       fecha  subs_id
0        6368    8/6/2021        1
1        6369    8/7/2021        1
2        6370    8/8/2021        1
3        6371    8/9/2023        1
4        6376   27/9/2020        2
...       ...         ...      ...
3993    10361   12/8/2021      419
3994    10362   12/9/2021      419
3995    10363  12/10/2021      419
3996    10364  12/11/2021      419
3997    10365  12/12/2023      419

[3998 rows x 3 columns]

## Pago (Compras de Peliculas)

In [75]:
pago_compra = df_pago[df_pago['subs_id'].isna()]
pago_compra = pago_compra.drop(columns=['subs_id'])
pago_compra["pid"] = pago_compra["pid"].astype(int)
pago_compra["pro_id"] = pago_compra["pro_id"].astype(int)
tabla_pago_peli = pago_compra[['pid', 'pro_id', 'monto']]
tabla_pago_peli = tabla_pago_peli.drop_duplicates(keep="first")
tabla_pago_peli #PK: pid, pro_id

      pid  pro_id  monto
3998   86      20   5000
3999   43       2   1000
4000    5      16   6500
4001   62      19   7000
4002   70       7   6000
...   ...     ...    ...
4319   17       4   6500
4320   41       4   4500
4351   38      19   3500
4364   78      11   8500
4373   68      19   3000

[136 rows x 3 columns]

In [76]:
tabla_detalle_peli = pago_compra[['pago_id', 'fecha', 'uid', 'pid']]
tabla_detalle_peli #PK: pago_id

      pago_id       fecha  uid  pid
3998    10528   30/5/2020   20   86
3999    10526   31/5/2020   58   43
4000    10428    3/6/2020  146    5
4001    10735    6/6/2020  115   62
4002    10583   18/6/2020   19   70
...       ...         ...  ...  ...
4372    10511  27/12/2021   55   78
4373    10401  29/12/2021   45   68
4374    10682  30/12/2021  130   88
4375    10376  30/12/2021   48   73
4376    10415  30/12/2021   82   38

[379 rows x 4 columns]

## Proveedores (Peliculas)

In [77]:
prov_pelis = df_proveedores[df_proveedores['precio'].isna()]
prov_pelis = prov_pelis.dropna(subset=['pid'])
prov_pelis["pid"] = prov_pelis["pid"].astype(int)
prov_pelis = prov_pelis.drop(columns=['sid', 'precio', 'disponibilidad'])
prov_pelis

      id          nombre  costo  pid
1     11         Peackok   4000   47
2     20         DCCanal   4000   67
4     11         Peackok   4000   68
5     20         DCCanal   4000   25
6     14  Movistar+ Lite   7400   30
...   ..             ...    ...  ...
1124  17             Sky   6400   22
1125   3     Crunchyroll   4400    1
1126   3     Crunchyroll   4400   30
1128  16      Rakuten TV   6500   28
1129   9        Showtime   3200   96

[714 rows x 4 columns]

## Proveedores (Series)

In [78]:
prov_series = df_proveedores.dropna(subset=['sid'])
prov_series["sid"] = prov_series["sid"].astype(int)
prov_series = prov_series.drop(columns=['pid', 'precio', 'disponibilidad'])
prov_series

C:\Users\benja\AppData\Local\Temp\ipykernel_14564\658483238.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prov_series["sid"] = prov_series["sid"].astype(int)

      id          nombre  costo  sid
0      7           Star+   7100   10
3      9        Showtime   3200    5
15     7           Star+   7100   26
23     9        Showtime   3200   22
26     3     Crunchyroll   4400    5
...   ..             ...    ...  ...
1115  11         Peackok   4000   22
1116  11         Peackok   4000   13
1117  14  Movistar+ Lite   7400   21
1118  14  Movistar+ Lite   7400    9
1127   3     Crunchyroll   4400   28

[265 rows x 4 columns]

## Proveedores (Peliculas Extras)

In [79]:
prov_pelis_pextra = df_proveedores.dropna(subset=['precio'])
prov_pelis_pextra = prov_pelis_pextra.drop(columns=['sid'])
prov_pelis_pextra

      id              nombre  costo   pid  precio  disponibilidad
19     2  Amazon Prime Video   3700   2.0  4000.0             1.0
20     5          Funimation   3900  51.0  6500.0             1.0
32    13            Sony Liv   3100  99.0  6000.0             1.0
33    18         ATRESplayer   2800  37.0  6000.0             2.0
39    11             Peackok   4000  84.0  5000.0             2.0
...   ..                 ...    ...   ...     ...             ...
1081  10                Stan   7900  72.0  4000.0             1.0
1085   7               Star+   7100   8.0  5000.0             1.0
1093   1             Netflix   4500  83.0  3000.0             2.0
1094  16          Rakuten TV   6500  49.0  7500.0             7.0
1098   2  Amazon Prime Video   3700  80.0  6000.0             2.0

[151 rows x 6 columns]

## Subscripciones (Activas)

In [80]:
subs_activas = df_suscripciones[df_suscripciones['estado'] == 'activa']
subs_activas

,id,estado,fecha_inicio,pro_id,uid,fecha_termino,proveedor,costo
0,377,activa,12/12/2020,13,1,12/12/2023,Sony Liv,3100
3,378,activa,11/10/2021,7,1,11/12/2023,Star+,7100
6,119,activa,6/8/2021,15,2,6/12/2023,Discovery+,3700
7,124,activa,11/6/2020,3,2,11/12/2023,Crunchyroll,4400
8,123,activa,21/1/2021,1,2,21/12/2023,Netflix,4500
...,...,...,...,...,...,...,...,...
413,388,activa,18/8/2021,7,142,18/12/2023,Star+,7100
414,384,activa,9/9/2020,14,142,9/12/2023,Movistar+ Lite,7400
415,387,activa,8/9/2021,10,142,8/12/2023,Stan,7900
417,26,activa,22/5/2020,16,146,22/12/2023,Rakuten TV,6500
418,25,activa,28/12/2020,8,146,28/12/2023,Hulu,7000

## Suscripciones (Canceladas)

In [81]:
subs_canceladas = df_suscripciones[df_suscripciones['estado'] == 'cancelada']
subs_canceladas

,id,estado,fecha_inicio,pro_id,uid,fecha_termino,proveedor,costo
1,382,cancelada,13/11/2021,12,1,24/11/2023,Viu,5000
2,381,cancelada,5/8/2020,8,1,26/11/2020,Hulu,7000
4,379,cancelada,16/6/2021,14,1,19/11/2023,Movistar+ Lite,7400
5,380,cancelada,12/12/2021,10,1,18/12/2023,Stan,7900
15,397,cancelada,26/6/2021,9,4,31/8/2023,Showtime,3200
...,...,...,...,...,...,...,...,...
406,8,cancelada,6/5/2020,9,141,6/12/2023,Showtime,3200
408,7,cancelada,10/6/2020,5,141,26/7/2023,Funimation,3900
409,9,cancelada,30/1/2021,14,141,18/4/2023,Movistar+ Lite,7400
411,383,cancelada,9/8/2020,12,142,29/8/2020,Viu,5000
416,24,cancelada,6/5/2021,9,146,10/11/2023,Showtime,3200

## Usuarios (Id y Username)

In [82]:
tabla_usernames_usuarios = df_usuarios[["id", "username"]]
tabla_usernames_usuarios#PK: id

     id        username
0    87  mrodriguez1969
1   134   jharrison1997
2    38      aallen1997
3    48     aburton1966
4    66      cblake1972
..  ...             ...
95   58     lwagner1960
96   31      jgould2000
97   43  dpatterson1992
98   93     jbrewer1984
99   70      jbrown1985

[100 rows x 2 columns]

## Usuarios (Credenciales)

In [83]:
tabla_detalles_usuarios = df_usuarios[["id", "mail", "password", "nombre", "fecha_nacimiento"]]
tabla_detalles_usuarios #PK: id

     id                  mail  password                nombre fecha_nacimiento
0    87  mrodriguez@yahoo.com  mVqchhZq     Melissa Rodriguez       01/01/1927
1   134    jharrison@yahoo.es  ZCtisRw5       Joseph Harrison       28/09/1947
2    38       aallen@yahoo.es  JOiUve4K             Amy Allen       23/03/1995
3    48     aburton@yahoo.com  fBqBdTWB           Alan Burton       07/12/2004
4    66     cblake@icloud.com  kI2Lt7sy     Christopher Blake       11/10/1981
..  ...                   ...       ...                   ...              ...
95   58      lwagner@yahoo.it  9VbX2Dl9          Laura Wagner       25/03/1931
96   31      jgould@yahoo.com  oP9BYtZy          Janice Gould       12/10/1945
97   43  dpatterson@yahoo.com  qdU6z9YI  Dennis Patterson PhD       23/04/1998
98   93     jbrewer@gmail.com  InlgLdUD         Joanna Brewer       07/09/2004
99   70     jbrown@icloud.com  wwa12glM           Jason Brown       19/01/1971

[100 rows x 5 columns]

## Visualizaciones (Peliculas)

In [84]:
vis_pelis = df_visualizaciones.dropna(subset=['pid'])
vis_pelis = vis_pelis.drop(columns=['cid'])
vis_pelis

      uid   pid       fecha
2      45  72.0  05-30-2020
4      45  68.0  05-31-2020
5      58  43.0  06/03/2020
7      17  95.0  06/11/2020
10     72   1.0  06-18-2020
...   ...   ...         ...
2668    9  99.0  10-30-2021
2675    9  99.0  10-30-2021
2684    2  27.0  08/06/2021
2685   33  30.0  09-22-2021
2687  132  27.0  04-22-2021

[938 rows x 3 columns]

## Visualizaciones (Series)

In [85]:
vis_series = df_visualizaciones.dropna(subset=['cid'])
vis_series = vis_series.drop(columns=['pid'])
vis_series

      uid    cid       fecha
0     141   85.0  05/06/2020
1     141   34.0  05-21-2020
3       9  137.0  05-31-2020
6      49   99.0  06/08/2020
8      19   98.0  06/12/2020
...   ...    ...         ...
2699   22  139.0  09-21-2020
2700  119   71.0  11/01/2020
2701   22  138.0  09-21-2020
2702   49   71.0  06-30-2021
2703   73   70.0  02/07/2021

[1766 rows x 3 columns]

---

### Cargamos las tablas en un csv

In [86]:
# Generamos los csv
tabla_genero.to_csv('DataImpares/DataSeparada/tabla_generos.csv', index=False)
tabla_sub_genero.to_csv('DataImpares/DataSeparada/tabla_subgeneros.csv', index=False)
tabla_peliculas.to_csv('DataImpares/DataSeparada/tabla_peliculas.csv', index=False)
tabla_series.to_csv('DataImpares/DataSeparada/tabla_series.csv', index=False)
tabla_capitulos.to_csv('DataImpares/DataSeparada/tabla_capitulos.csv', index=False)
tabla_genero_cap.to_csv('DataImpares/DataSeparada/tabla_genero_cap.csv', index=False)
tabla_pago_sub.to_csv('DataImpares/DataSeparada/tabla_pago_sub.csv', index=False)
tabla_detalle_sub.to_csv('DataImpares/DataSeparada/tabla_detalle_sub.csv', index=False)
tabla_pago_peli.to_csv('DataImpares/DataSeparada/tabla_pago_peli.csv', index=False)
tabla_detalle_peli.to_csv('DataImpares/DataSeparada/tabla_detalle_peli.csv', index=False)
prov_pelis.to_csv('DataImpares/DataSeparada/tabla_proveedores_pelis.csv', index=False)
prov_series.to_csv('DataImpares/DataSeparada/tabla_proveedores_series.csv', index=False)
prov_pelis_pextra.to_csv('DataImpares/DataSeparada/tabla_proveedores_pelis_pextra.csv', index=False)
subs_activas.to_csv('DataImpares/DataSeparada/tabla_subs_activas.csv', index=False)
subs_canceladas.to_csv('DataImpares/DataSeparada/tabla_subs_canceladas.csv', index=False)
tabla_usernames_usuarios.to_csv('DataImpares/DataSeparada/tabla_usernames_usuarios.csv', index=False)
tabla_detalles_usuarios.to_csv('DataImpares/DataSeparada/tabla_detalles_usuarios.csv', index=False)
vis_pelis.to_csv('DataImpares/DataSeparada/tabla_vis_pelis.csv', index=False)
vis_series.to_csv('DataImpares/DataSeparada/tabla_vis_series.csv', index=False)