In [255]:
import pandas as pd

# Carga de Datos

In [256]:
df_genero = pd.read_csv('DataPares/genero.csv')
df_pagos = pd.read_csv('DataPares/pagos.csv')
df_proveedores = pd.read_csv('DataPares/proveedores.csv')
df_subscripciones = pd.read_csv('DataPares/subscripciones.csv')
df_usuario_actividades = pd.read_csv('DataPares/usuario actividades.csv')
df_usuario_proveedor = pd.read_csv('DataPares/usuario proveedor.csv')
df_videojuego_genero = pd.read_csv('DataPares/videojuego genero.csv')
df_videojuego = pd.read_csv('DataPares/videojuego.csv')

# Visualizaci√≥n de Data's:

In [257]:
df_genero

                        genero                 subgenero
0                       Guerra                       NaN
1    Turn-based strategy (TBS)                       NaN
2                      Comedia                       NaN
3                        Drama                       NaN
4                       Sigilo                       NaN
5                   Estrategia                       NaN
6                    Platforma                       NaN
7                       Horror                  Thriller
8                   Historicos                       NaN
9                       Puzzle                       NaN
10                    Aventura                       NaN
11                      Accion                       NaN
12                   Simulador                       NaN
13                      Accion                       NaN
14                  Open world                       NaN
15                       Indie                       NaN
16                    Thriller                       NaN
17                     Negocio                       NaN
18                    Aventura                       NaN
19                    Tactical                       NaN
20  Hack and slash/Beat 'em up                       NaN
21                    Fantasia                       NaN
22                    Misterio                  Thriller
23                  Estrategia  Real Time Strategy (RTS)
24                         RPG                       NaN
25                         FPS                       NaN
26                     Sandbox                       NaN
27               Supervivencia                       NaN
28                      Accion                       NaN
29                         FPS                       NaN
30                    Misterio                       NaN
31             Ciencia Ficcion                       NaN

In [258]:
df_pagos.head()

,pago_id,monto,fecha,id_usuario,preorden,id_proveedor,id_videojuego,subs_id
0,4643,9100,12/5/2020,106,False,3.0,15.0,NaN
1,5081,9100,20/6/2021,82,False,3.0,15.0,NaN
2,5109,9100,5/1/2021,83,False,3.0,15.0,NaN
3,3961,9100,3/3/2021,125,False,3.0,15.0,NaN
4,4024,9100,16/10/2020,89,False,3.0,15.0,NaN

In [259]:
df_proveedores.head()

   id      nombre plataforma  id_videojuego   precio  precio_preorden
0   1  Epic Games         PC             16  32000.0              NaN
1   1  Epic Games         PC             18      NaN              NaN
2   1  Epic Games         PC             20      NaN              NaN
3   1  Epic Games         PC             21  39200.0          43120.0
4   1  Epic Games         PC             37  18000.0              NaN

In [260]:
df_subscripciones.head()

,id,estado,fecha_inicio,id_usuario,fecha_termino,id_videojuego,mensualidad
0,52,canceled,10/6/2020,127,8/7/2020,498,5000
1,335,canceled,17/6/2020,129,31/7/2020,731,9500
2,328,canceled,25/5/2020,78,1/8/2020,9630,5000
3,105,canceled,23/5/2020,93,8/9/2020,549,4000
4,74,canceled,17/7/2020,89,13/10/2020,126,6500

In [261]:
df_usuario_actividades.head()

,id_usuario,nombre,mail,password,username,id_videojuego,fecha v,cantidad,veredicto,titulo,texto,fecha_nacimiento
0,9,Jeffrey Aguirre,jaguirre@yahoo.it,dL1lawrd,jaguirre1971,15.0,13/05/2021,0.75,NaN,NaN,NaN,01/05/2009
1,9,Jeffrey Aguirre,jaguirre@yahoo.it,dL1lawrd,jaguirre1971,16.0,10/06/2020,1.50,NaN,NaN,NaN,28/01/2012
2,9,Jeffrey Aguirre,jaguirre@yahoo.it,dL1lawrd,jaguirre1971,37.0,04/02/2021,4.25,NaN,NaN,NaN,22/09/1979
3,9,Jeffrey Aguirre,jaguirre@yahoo.it,dL1lawrd,jaguirre1971,43.0,28/06/2021,52.00,NaN,NaN,NaN,06/04/1957
4,9,Jeffrey Aguirre,jaguirre@yahoo.it,dL1lawrd,jaguirre1971,71.0,20/01/2021,1.75,NaN,NaN,NaN,05/10/1951

In [262]:
df_usuario_proveedor.head()

   id_usuario  id_proveedor
0          90             4
1         115             3
2         134             3
3          47             5
4         117             1

In [263]:
df_videojuego_genero.head()

   id_videojuego     nombre
0           1164  Platforma
1            431   Aventura
2           1074     Accion
3           6036   Aventura
4           1985   Aventura

In [264]:
df_videojuego.head()

,id_videojuego,titulo,puntuacion,clasificacion,fecha_de_lanzamiento,beneficio_preorden,mensualidad,nombre
0,15,Fallout 3,86.43,Eighteen,27/10/2008,ninguno,NaN,Supervivencia
1,15,Fallout 3,86.43,Eighteen,27/10/2008,ninguno,NaN,Accion
2,15,Fallout 3,86.43,Eighteen,27/10/2008,ninguno,NaN,Supervivencia
3,15,Fallout 3,86.43,Eighteen,27/10/2008,ninguno,NaN,Accion
4,16,Fallout: New Vegas,84.59,M,18/10/2010,ninguno,NaN,Accion

# BCNF:

### generos:

In [265]:
df_subgenero = df_genero.dropna()
new_genre = df_genero[df_genero['subgenero'].isna()].drop(columns=['subgenero'])

### pagos:

In [266]:
data_pago = df_pagos[['pago_id', 'monto', 'fecha']]
df_pagos = df_pagos.drop(columns=['monto', 'fecha'])

In [267]:
df_pagos_subs = df_pagos.dropna(subset=['subs_id']).drop(columns=['preorden', 'id_proveedor', 'id_videojuego'])
df_pagos_nosub = df_pagos.dropna(subset=['preorden']).drop(columns=['subs_id'])

df_preorden = df_pagos_nosub[df_pagos_nosub['preorden']].drop(columns=['preorden'])
df_nopreorden = df_pagos_nosub[df_pagos_nosub['preorden'] == False].drop(columns=['preorden'])

### proveedores

In [268]:
df_prov = df_proveedores[['id', 'nombre', 'plataforma']].drop_duplicates().sort_values('id')
df_proveedores = df_proveedores.drop(columns=['nombre', 'plataforma'])
df_prov

     id             nombre   plataforma
0     1         Epic Games           PC
243   2              Steam           PC
63    3                GOG           PC
146   4  PlayStation Store  PlayStation
299   5   Xbox Games Store         Xbox
121   6     Nintendo eShop     Nintendo

In [269]:
df_precio = df_proveedores[df_proveedores['precio_preorden'].isna()].drop(columns=['precio_preorden'])
df_noprecio = df_precio[df_precio['precio'].isna()][['id', 'id_videojuego']]
df_precio = df_precio.dropna()

In [270]:
df_precio_pre = df_proveedores.dropna(subset=['precio_preorden'])
df_precio_pre

     id  id_videojuego   precio  precio_preorden
3     1             21  39200.0          43120.0
7     1             59  23600.0          25960.0
11    1             75  47450.0          52195.0
12    1            109  27450.0          30195.0
18    1            231  14850.0          16335.0
..   ..            ...      ...              ...
337   5            622  41800.0          45980.0
339   5            673  34450.0          37895.0
343   5            733   4500.0           4950.0
366   5           7342  40250.0          44275.0
373   5          11133  68250.0          75075.0

[62 rows x 4 columns]

### Subscripciones

In [271]:
df_subs_cancel = df_subscripciones[df_subscripciones['estado'] == 'canceled']
df_subs_active = df_subscripciones[df_subscripciones['estado'] == 'active']

### Usuario_actividades

In [272]:
df_usuario = df_usuario_actividades[['id_usuario', 'nombre', 'mail', 'password', 'username']]

In [273]:
df_usuario_actividades

,id_usuario,nombre,mail,password,username,id_videojuego,fecha v,cantidad,veredicto,titulo,texto,fecha_nacimiento
0,9,Jeffrey Aguirre,jaguirre@yahoo.it,dL1lawrd,jaguirre1971,15.0,13/05/2021,0.75,NaN,NaN,NaN,01/05/2009
1,9,Jeffrey Aguirre,jaguirre@yahoo.it,dL1lawrd,jaguirre1971,16.0,10/06/2020,1.50,NaN,NaN,NaN,28/01/2012
2,9,Jeffrey Aguirre,jaguirre@yahoo.it,dL1lawrd,jaguirre1971,37.0,04/02/2021,4.25,NaN,NaN,NaN,22/09/1979
3,9,Jeffrey Aguirre,jaguirre@yahoo.it,dL1lawrd,jaguirre1971,43.0,28/06/2021,52.00,NaN,NaN,NaN,06/04/1957
4,9,Jeffrey Aguirre,jaguirre@yahoo.it,dL1lawrd,jaguirre1971,71.0,20/01/2021,1.75,NaN,NaN,NaN,05/10/1951
...,...,...,...,...,...,...,...,...,...,...,...,...
3450,150,Jared Pratt,jpratt@yahoo.it,kcQDLiw5,jpratt1973,7351.0,18/07/2021,2.75,NaN,NaN,NaN,12/02/1955
3451,150,Jared Pratt,jpratt@yahoo.it,kcQDLiw5,jpratt1973,8173.0,31/01/2020,24.00,NaN,NaN,NaN,20/02/1958
3452,150,Jared Pratt,jpratt@yahoo.it,kcQDLiw5,jpratt1973,11198.0,24/05/2021,4.50,NaN,NaN,NaN,30/07/1978
3453,150,Jared Pratt,jpratt@yahoo.it,kcQDLiw5,jpratt1973,12517.0,27/06/2020,90.00,NaN,NaN,NaN,02/10/1949
3454,150,Jared Pratt,jpratt@yahoo.it,kcQDLiw5,jpratt1973,14593.0,12/05/2020,2.25,NaN,NaN,NaN,07/01/1980

### Usuario - Proveeddor,  Videojuego - Genero : Est√° en BCNF

### Videojuego:

In [274]:
data_videojuego = df_videojuego[['id_videojuego', 'titulo', 'puntuacion', 'clasificacion', 'fecha_de_lanzamiento', 'nombre']].drop_duplicates()

In [275]:
df_videojuego = df_videojuego[['id_videojuego', 'beneficio_preorden', 'mensualidad']].drop_duplicates()
df_vid_ben = df_videojuego.dropna(subset=['beneficio_preorden']).drop(columns=['mensualidad'])
df_vid_mesual = df_videojuego[df_videojuego['beneficio_preorden'].isna()].drop(columns=['beneficio_preorden'])